<html>
<h1 id='ce-greeting'>Hello World</h1>
<p><a href="/kelvin">Kelvin</a></p>
<p><a href="/crystabel">Crystabel</a></p>
<p><a href="/brice">Brice</a></p>
<p><a href="/greetings">Greetings</a></p>
<p><a href="/welcome">Welcome</a></p>
<p><a href="/goodbye">Goodbye</a></p>
<p><a href="/howdy">Howdy</a></p>
<p><a href="/hi">Hi</a></p>
<h2><a href="/lucy">Lucy for President</a></h2>
<p><a href="/">Home</a></p>

</html>